* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: .9em;
    line-height: 1.5em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    padding: .6em 1.2em;
}

.top-logo {
    width: 50px;
    height: 50px;
}

header {
    display: flex;
    justify-content: space-between;
}

.hide-mobile {
    display: none;
}

.menu {
    width: 30px;
    margin-top: 50%;
}

h1,
p {
    position: relative;
    z-index: 2;
}

h1 {
    margin: 1.7em 0 1em;
    line-height: 1.2em;
    font-size: 1.5em;
    font-weight: bold;
    ;
}

p {
    font-size: 1.2em;
    line-height: 1.2em;
    margin-bottom: -.2em;
}

section {
    z-index: inherit;
}

.section-container {
    text-align: center;
    padding: .4em 1.45em;
    margin: 1.7em 0 1em;
}

.color-purple {
    background-color: rgb(75, 38, 136)
}

.action-btn-container {
    text-align: center;
    padding: .4em 1.45em;
    margin: 1em 0 1em;
}

.cta {
    background-color: #fff;
    color: rgb(75, 38, 136);
    text-decoration: none;
    padding: .1em;
    width: calc(100% - 6em);
    display: block;
    font-size: 1em;
    margin: 2% auto 5%;
    position: relative;
    z-index: 1;
    border-radius: 2em;
}

.icon-right-arrow {
    font-family: Genericons;
}

.right-arrow-btn {
    position: relative;
    padding: .2725rem;
}

.right-arrow-btn i::before {
    font-size: 1.7rem;
}

.icon {
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
    font-style: normal;
    vertical-align: middle;
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    width: 20px;
}

.icon-right-arrow::before {
    content: "\F429";
}

.desktop-picture {
    width: 80%;
    margin: -2.5em auto -3em;
    z-index: -2;
    height: 12em;
}

.footer-img {
    margin: 0 auto 0;
    padding: 0;
    text-align: center;
    background-color: rgb(75, 38, 136);
    height: 10em;
}

.footer-text {
    font-size: .5em;
    text-align: center;
    color: white;
    margin: 3em auto 0;
    padding: 1em;
}

nav ul {
    position: fixed;
    width: 60%;
    top: 0;
    right: 0;
    text-align: left;
    background: rgb(36, 41, 44);
    height: 100%;
    z-index: 7;
    padding-top: 2.5em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    padding: 1em 2em;
    background-color: rgb(49, 55, 59);
}

nav ul li a:hover {
    background-color: rgb(65, 73, 78);
    border: 1px outset white;
}

.exit-btn {
    margin-bottom: 1em;
    margin-top: -1.3em;
    float: right;
    padding: 0 1.4em;
}

.exit-btn img {
    width: 15px;
    cursor: pointer;
}

.exit-btn:hover {
    border: 1px outset white;
    padding: .5em .7325em;
    margin-right: .5em;
    cursor: pointer;
}

.active {
    color: white;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    padding: 1em 2em;
    background-color: rgb(65, 82, 94);
}


/*Home Page CSS*/

@media only screen and (min-width:320px) {
    .cta {
        border-radius: 2em;
    }
    .desktop-picture {
        width: 80%;
        margin: -2.5em auto -3em;
        z-index: 2;
        height: 12em;
    }
    .footer-img {
        margin: 0 auto 0;
        padding: 0;
        text-align: center;
        background-color: rgb(75, 38, 136);
        height: 10.5em;
    }
    .footer-text {
        font-size: .5em;
        text-align: center;
        color: white;
        margin: 3em auto 0;
        padding: 1em;
    }
}

@media only screen and (min-width:330px) {
    .desktop-picture {
        width: 80%;
        margin: -2.5em auto 0em;
        z-index: 2;
        height: 10em;
    }
    .footer-img {
        width: 100%;
        margin: 1em auto o;
        padding: 0;
        text-align: center;
        background-color: rgb(75, 38, 136);
        height: 10.5em;
    }
    .footer-text {
        font-size: .6em;
        text-align: center;
        color: white;
        margin: auto auto;
        padding: 1em;
    }
    .action-btn-container {
        text-align: center;
        padding: .4em 1.45em;
        margin: 1em 0 3.5em;
    }
}

@media only screen and (min-width:399px) {
    nav ul {
        width: 50%;
    }
    .footer-background p {
        font-size: .8em;
        text-align: center;
        color: rgb(150, 65, 192);
        top: 70%;
        margin: 0 auto;
        padding: 0;
    }
    .hide-avatar {
        display: none;
    }
    .show-avatar {
        display: inherit;
        align-items: center;
    }
    .top-logo2 {
        margin: 0 auto;
        width: 50%;
    }
    h1 {
        width: 100%;
        margin: 1em 0 1em;
        line-height: 1.2em;
        font-size: 1.8em;
        font-weight: bold;
    }
    .cta {
        border-radius: 2em;
        width: calc(100% - 9em);
    }
    .footer-background {
        margin-top: -1em;
        padding: 0;
        height: 4.8em;
        width: 100%;
        background: #464b49;
    }
}

@media only screen and (min-width:429px) {
    .footer-background p {
        display: none;
    }
    p {
        font-size: 1.6em;
        line-height: 1.3em;
        margin-bottom: -.2em;
    }
    h1 {
        width: 100%;
        margin: 1em 0 1em;
        line-height: 1.2em;
        font-size: 1.9em;
        font-weight: bold;
    }
    .cta {
        border-radius: 2em;
        width: calc(100% - 9em);
        font-size: 1.2em;
    }
}

@media only screen and (min-width:470px) {
    p {
        font-size: 1.6em;
        line-height: 1.3em;
        margin-bottom: -.2em;
    }
    h1 {
        width: 100%;
        margin: 1em 0 1em;
        line-height: 1.2em;
        font-size: 1.9em;
        font-weight: bold;
    }
    .cta {
        border-radius: 2em;
        width: calc(100% - 11em);
    }
}

@media only screen and (min-width:520px) {
    p {
        font-size: 1.7em;
        line-height: 1.3em;
        margin-bottom: -.2em;
    }
    h1 {
        width: 100%;
        margin: 1em 0 1em;
        line-height: 1.2em;
        font-size: 2em;
        font-weight: bold;
    }
    .cta {
        width: calc(100% - 9em);
        font-size: 1.3em;
        margin: 2% auto 5%;
        border-radius: 2em;
    }
    section {
        width: 96%;
        margin: auto auto;
    }
}

@media only screen and (min-width:550px) {
    .right-arrow-btn {
        display: flex;
    }
    .cta {
        width: calc(100% - 5em);
        font-size: 1.3em;
        margin: 2% 3%;
        border-radius: 2em;
        padding: .2em 0;
    }
    .show-js-tags {
        display: inherit;
    }
    .frontend-container {
        background-color: rgb(75, 38, 136);
    }
    .front-end {
        width: 85%;
        margin: auto auto;
        padding: 1em 0;
    }
    .desktop-picture {
        width: 80%;
        margin: -2.5em auto 0em;
        height: 10em;
    }
    .footer-img {
        height: 10em;
    }
    section {
        width: 93%;
        margin: auto auto;
    }
    nav ul {
        width: 40%;
    }
    .footer-text {
        font-size: .7em;
    }
}

@media only screen and (min-width:600px) {
    p {
        font-size: 1.4em;
        line-height: 1.3em;
    }
    h1 {
        width: 100%;
        margin: 1em 0 .1em;
        line-height: 1.25em;
        font-size: 1.9em;
        font-weight: bold;
    }
    .top-logo2 {
        margin: 1em auto -.5em;
        width: 40%;
    }
    .cta {
        padding: .3em;
        width: calc(100% - 9em);
        font-size: 1.4em;
        margin: 2% 5%;
        border-radius: 2em;
    }
    section {
        width: 87%;
        margin: auto auto;
    }
    .front-end {
        width: 80%;
    }
    .right-arrow-btn {
        width: 95%;
        margin: auto auto;
    }
    nav ul {
        width: 35%;
    }
}

@media only screen and (min-width:620px) {
    p {
        font-size: 1.3em;
        line-height: 1.3em;
    }
    h1 {
        width: 100%;
        margin: 1em 0 1em;
        line-height: 1.2em;
        font-size: 1.8em;
        font-weight: bold;
    }
    .top-logo2 {
        margin: 1em auto 1em;
        width: 30%;
    }
    .cta {
        padding: .3em;
        width: calc(100% - 10em);
        font-size: 1.2em;
        margin: 1% 6%;
        border-radius: 2em;
    }
    .front-end {
        width: 81.1%;
    }
    .right-arrow-btn {
        width: 90%;
        margin: auto auto;
    }
}

@media only screen and (min-width:669px) {
    p {
        font-size: 1.3em;
        line-height: 1.3em;
    }
    h1 {
        width: 100%;
        margin: 1em 0 .1em;
        line-height: 1.2em;
        font-size: 1.8em;
        font-weight: bold;
    }
    .top-logo2 {
        margin: 1em auto 1em;
        width: 30%;
    }
    .cta {
        padding: .3em;
        width: calc(100% - 10em);
        font-size: 1.2em;
        margin: 1% 5%;
        border-radius: 2em;
    }
    section {
        width: 83%;
        margin: auto auto;
    }
    .front-end {
        width: 80%;
    }
}

@media only screen and (min-width:705px) {
    p {
        font-size: 1.1em;
        line-height: 1.3em;
    }
    h1 {
        width: 100%;
        margin: 1em 0 .1em;
        line-height: 1.2em;
        font-size: 1.4em;
        font-weight: bold;
    }
    .top-logo2 {
        margin: 2em auto .1em;
        width: 20%;
    }
    .cta {
        padding: .3em;
        font-size: 1em;
        margin: 1% 9%;
        border-radius: 2em;
    }
    section {
        width: 85%;
        margin: auto auto;
    }
    .desktop-picture {
        width: 70%;
        margin: -2.5em auto 0em;
        height: 11em;
    }
    .footer-img {
        height: 11em;
    }
    .right-arrow-btn {
        width: 85%;
        margin: auto auto;
    }
    .front-end {
        width: 78%;
    }
    nav ul {
        width: 30%;
    }
}

@media only screen and (min-width:725px) {
    p {
        font-size: 1.1em;
        line-height: 1.3em;
    }
    h1 {
        width: 100%;
        margin: 1em 0 .1em;
        line-height: 1.2em;
        font-size: 1.4em;
        font-weight: bold;
    }
    .top-logo2 {
        margin: 2.5em auto .1em;
        width: 20%;
    }
    .cta {
        padding: .5em;
        font-size: 1em;
        margin: 1% 10%;
        border-radius: 2em;
    }
    section {
        width: 75%;
        margin: auto auto;
    }
    .desktop-picture {
        width: 50%;
    }
    .footer-img {
        height: 11em;
    }
    .front-end {
        width: 74%;
    }
    nav ul {
        width: 25%;
    }
}

@media only screen and (min-width:790px) {
    p {
        font-size: 1.1em;
        line-height: 1.3em;
    }
    h1 {
        width: 100%;
        margin: 1em 0 .1em;
        line-height: 1.2em;
        font-size: 1.4em;
        font-weight: bold;
    }
    .top-logo2 {
        margin: .1em auto .1em;
        width: 20%;
    }
    .cta {
        padding: .5em;
        font-size: 1em;
        margin: 1% 10%;
        border-radius: 2em;
    }
    section {
        width: 70%;
        margin: auto auto;
    }
    .desktop-picture {
        width: 45%;
    }
    .footer-img {
        height: 11em;
    }
    .front-end {
        width: 70%;
    }
}

@media only screen and (min-width:875px) {
    p {
        font-size: 1.1em;
        line-height: 1.3em;
    }
    h1 {
        width: 100%;
        margin: 1em 0 .1em;
        line-height: 1.2em;
        font-size: 1.4em;
        font-weight: bold;
    }
    .top-logo2 {
        margin: .1em auto .1em;
        width: 20%;
    }
    .cta {
        padding: .3em;
        font-size: 1em;
        margin: 1% 12%;
        border-radius: 2em;
    }
    section {
        width: 65%;
        margin: auto auto;
    }
    .desktop-picture {
        width: 40%;
    }
    .footer-img {
        height: 11em;
    }
    .right-arrow-btn {
        width: 70%;
        margin: auto auto;
    }
    .front-end {
        width: 60%;
    }
}

@media only screen and (min-width:1024px) {
    .cta {
        padding: .5em;
        font-size: 1.3em;
        margin: 2% 10%;
    }
    .show-desktop {
        display: visible;
    }
    .hide-desktop {
        display: none;
    }
    .container {
        width: 90%;
        margin: 0 auto;
    }
    nav ul {
        position: inherit;
        width: auto;
        background: none;
        height: auto;
        display: flex;
        padding-top: 0;
    }
    nav ul li {
        float: left;
    }
    nav ul li a {
        color: rgba(75, 74, 74, 0.507);
        background-color: inherit;
        text-align: right;
        padding: 1em 2em;
        font-size: .8em;
    }
    nav ul li a:hover {
        background-color: white;
        border: none;
        color: black;
        opacity: 1;
    }
    .active:hover {
        border-bottom: 1.5px solid;
    }
    .active {
        background-color: white;
        color: black;
        font-weight: bold;
        border-bottom: 1.5px solid;
    }
    .desktop-picture1 {
        width: 50%;
        margin: 2.3em auto -2em;
        z-index: 2;
        height: 60%;
    }
    p {
        font-size: 1.8em;
        line-height: 1.3em;
        margin: 1em auto .1em;
    }
    h1 {
        width: 100%;
        margin: .8em 0 -.3em;
        line-height: 1.1em;
        font-size: 2.2em;
        font-weight: bold;
    }
    .action-btn-container {
        text-align: center;
        padding: .4em 1.45em;
        margin: 0;
    }
    .show-footer-logo {
        width: 10%;
        margin: 1em auto 0;
        border-radius: 50%;
        background-color: white;
    }
    .right-arrow-btn {
        width: 70%;
        margin: auto auto;
    }
    .footer-img {
        height: auto;
    }
}

@media only screen and (min-width:1100px) {
    .desktop-picture1 {
        width: 45%;
        margin: 5em auto 0;
    }
    .section-container {
        margin-top: 0;
    }
    p {
        font-size: 1.7em;
        line-height: 1.1em;
    }
    h1 {
        width: 100%;
        margin: .7em 0 -.6em;
        line-height: 1.1em;
        font-size: 2.1em;
        font-weight: bold;
    }
    .right-arrow-btn {
        width: 65%;
        margin: auto auto;
    }
    .front-end {
        width: 58%;
    }
}

@media only screen and (min-width:1160px) {
    .container {
        text-align: center;
        padding: .6em 3em;
    }
    .desktop-picture1 {
        width: 45%;
        margin: 5em auto 0;
    }
    .section-container {
        margin-top: 0;
    }
    p {
        font-size: 1.8em;
    }
    h1 {
        margin: .7em 0 -.2em;
        font-size: 2.2em;
    }
    .front-end {
        width: 60%;
    }
}

@media only screen and (min-width:1200px) {
    .desktop-picture1 {
        width: 45%;
        margin: 5em auto 0;
    }
    p {
        font-size: 1.7em;
    }
    h1 {
        margin: .7em 0 -.2em;
        font-size: 2em;
    }
    .section-container {
        margin-top: 0;
    }
    .front-end {
        width: 55%;
    }
}

@media only screen and (min-width:1255px) {
    .desktop-picture1 {
        width: 40%;
    }
    p {
        font-size: 1.8em;
        line-height: 1.1em;
    }
    h1 {
        font-size: 2em;
    }
    nav ul li a {
        font-size: .9em;
    }
}

@media only screen and (min-width:1310px) {
    .desktop-picture1 {
        width: 40%;
        margin: 4em auto 0;
    }
    p {
        font-size: 1.9em;
        line-height: 1.1em;
    }
    h1 {
        margin: .7em 0 -.6em;
        line-height: 1.1em;
        font-size: 2.2em;
    }
    .container {
        text-align: center;
        padding: .6em 3.5em;
    }
    .cta {
        margin: 2% 13%;
    }
    .front-end {
        width: 60%;
        margin: 2px auto;
    }
    .show-footer-logo {
        width: 10%;
    }
}

@media only screen and (min-width:1330px) {
    .desktop-picture1 {
        width: 40%;
        margin: 2.5em auto 0;
    }
    p {
        font-size: 2em;
        line-height: 1.01em;
        margin-bottom: .2em;
    }
    h1 {
        width: 100%;
        margin: .7em 0 -.2em;
        line-height: 1.01em;
        font-size: 2.4em;
        font-weight: bold;
    }
    .container {
        text-align: center;
        padding: .6em 3.5em;
    }
    .right-arrow-btn {
        width: 75%;
        margin: auto auto;
    }
    .cta {
        width: calc(100% - 10em);
        display: block;
        font-size: 1.5em;
        margin: 2% 12%;
        position: relative;
        z-index: 1;
        border-radius: 2em;
    }
    .front-end {
        width: 50%;
        margin: 2px auto;
    }
    .show-footer-logo {
        width: 10%;
        height: auto;
        margin: 0 auto;
    }
}

@media only screen and (min-width:1400px) {
    .desktop-picture {
        width: 40%;
        margin: 1.5em auto 0;
    }
    p {
        font-size: 1.7em;
        line-height: 1.01em;
        margin-bottom: .1em;
    }
    h1 {
        width: 100%;
        margin: .7em 0 -.1em;
        line-height: 1.01em;
        font-size: 2em;
    }
    .container {
        text-align: center;
        padding: 1em 4em;
    }
    .right-arrow-btn {
        width: 70%;
        margin: auto auto;
    }
    .cta {
        padding: .5em;
        width: calc(100% - 11em);
        display: block;
        font-size: 1.5em;
        margin: 2% 11%;
        position: relative;
        z-index: 1;
        border-radius: 2em;
    }
    .front-end {
        width: 45%;
    }
    .show-footer-logo {
        width: 10%;
        height: auto;
        margin: 0 auto;
    }
}


/**Portfolio Page CSS**/

.color-grey {
    height: 11em;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
    background-image: url(/images/headerbackground2.jpg);
    background-repeat: no-repeat;
    background-size: cover 100%;
}

.ham-top {
    background-color: #fff;
    border: 1px solid white;
    border-radius: .2em;
}

.container1 {
    text-align: center;
    padding: 1em 1.2em;
}

.container2 {
    text-align: center;
    padding: .5em 1.2em;
}

.section-slim {
    width: 85%;
    margin: -6.1em auto -1em;
    background-color: #fff;
    border-radius: 5%;
    border: 1px double white;
    z-index: -2;
}

.head {
    width: 100%;
    margin: .29em auto .5em;
    line-height: 1.1em;
    font-size: 1.5em;
    font-weight: bold;
    color: #29312e;
}

.subhead1 {
    font-size: 1.2em;
    line-height: 1.1em;
    color: #29312e;
    margin: .18em auto .1em;
}

.section-container2 {
    text-align: center;
    padding: .4em 1.25em;
    margin: 1.7em auto 1em;
    width: 90%;
}

.cta-portfolio {
    background: #400188;
    color: #fff;
    text-decoration: none;
    padding: .3em;
    width: calc(100% - 2em);
    display: block;
    font-size: 1.2em;
    margin: 2% auto 2%;
    position: relative;
    z-index: 1;
    border-radius: 2em;
}

.columns {
    width: 85%;
    margin: 1em auto .5em;
    background-color: #fff;
    border: 1px solid white;
    z-index: 2;
}

.column {
    width: 80%;
}

.blueage-img {
    width: 100%;
    margin: .2em auto .2em;
    background-color: #fff;
    border: 1px unset white;
    z-index: -2;
    border-radius: 1em;
}

.gojersey-img {
    width: 100%;
    margin: .2em auto .2em;
    background-color: #fff;
    border: 1px unset white;
    z-index: 1;
    border-radius: 1em;
    height: auto;
}

.larry-img {
    width: 100%;
    margin: .2em auto .2em;
    background-color: #fff;
    border: 1px unset white;
    z-index: 1;
    border-radius: 1em;
    height: auto;
}

.column-font {
    width: 90%;
    font-size: 1em;
    line-height: 1em;
    color: #29312e;
    margin: .11em auto .3em;
    text-align: center;
}

.color-grey2 {
    height: 10.4em;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    background-image: url(/images/headerbackground2.jpg);
    background-repeat: no-repeat;
    background-size: cover 100%;
    margin: 1.5em auto 0;
    text-align: center;
    border: white;
}

.hide-slide-column {
    display: none;
}

.section-slim-bottom {
    width: 85%;
    margin: 1em auto .5em;
    background-color: #fff!important;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    height: 90%;
    border: none;
}

.head2 {
    width: 100%;
    margin: .2em auto .5em;
    line-height: 1.1em;
    font-size: 1.5em;
    font-weight: bold;
    color: #29312e;
    border: none;
}

.subhead2 {
    width: 90%;
    font-size: 1.1em;
    line-height: 1.1em;
    color: #29312e;
    margin: .18em auto .1em;
}

.footer-icons {
    width: 1.6em;
    margin: .7em auto 0;
}

@media only screen and (min-width:320px) {
    .head {
        width: 100%;
        line-height: 1.1em;
        font-size: 1.7em;
    }
    .subhead1 {
        font-size: 1.2em;
        line-height: 1.1em;
    }
    .column-font {
        width: 90%;
        font-size: 1em;
        line-height: 1.05em;
    }
    .subhead2 {
        font-size: 1.17em;
        line-height: 1.1em;
    }
    .color-grey2 {
        height: 10.5em;
    }
}

@media only screen and (min-width:340px) {
    .cta-portfolio {
        padding: .4em;
        width: calc(100% - 2em);
        font-size: 1.2em;
        margin: 2% auto 2%;
    }
    .head {
        line-height: 1.1em;
        font-size: 1.8em;
    }
    .subhead1 {
        font-size: 1.4em;
        line-height: 1.2em;
    }
    .column-font {
        font-size: 1.1em;
        line-height: 1em;
    }
    .head2 {
        line-height: 1.1em;
        font-size: 1.8em;
        margin-bottom: .3em;
    }
    .subhead2 {
        width: 90%;
        font-size: 1.25em;
        line-height: 1.1em;
    }
    .section-slim-bottom {
        width: 85%;
        margin: 1em auto .5em;
        background-color: #fff!important;
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 1em;
    }
}

@media only screen and (min-width:399px) {
    .hide-avatar {
        display: none;
    }
    .show-avatar {
        display: inherit;
        align-items: center;
    }
    .top-logo3 {
        margin: .7em auto .5em;
        width: 50%;
    }
    .column-font {
        font-size: 1.3em;
        line-height: 1em;
    }
    .head2 {
        line-height: 1.1em;
        font-size: 1.8em;
        margin-bottom: .3em;
    }
    .subhead2 {
        width: 90%;
        font-size: 1.4em;
        line-height: 1.1em;
    }
    .color-grey2 {
        height: 11em;
    }
    .section-slim {
        margin: -6.9em auto -1em;
        background-color: #fff;
        border-radius: 5%;
        border: 1px double white;
        z-index: -2;
    }
    .container1 {
        text-align: center;
        padding: .3em 1.2em;
    }
    .footer-icons {
        width: 1.6em;
        margin: .25em auto 0;
    }
}

@media only screen and (min-width:429px) {
    .head {
        line-height: 1.1em;
        font-size: 1.9em;
        margin: .5em auto;
    }
    .subhead1 {
        font-size: 1.6em;
        line-height: 1.1em;
    }
    .cta-portfolio {
        padding: .4em;
        width: calc(100% - 3em);
        font-size: 1.6em;
    }
    .head2 {
        line-height: 1.1em;
        font-size: 1.9em;
        margin-bottom: .2em;
    }
    .subhead2 {
        width: 90%;
        font-size: 1.6em;
        line-height: 1.1em;
    }
    .section-slim {
        width: 85%;
        margin: -6.7em auto -1em;
        background-color: #fff;
        border-radius: 5%;
        border: 1px double white;
        z-index: -2;
    }
    .section-slim-bottom {
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 1em;
    }
    .footer-icons {
        margin: .2em auto 0;
    }
}

@media only screen and (min-width:470px) {
    .color-grey2 {
        height: 11.5em;
    }
    .section-slim-bottom {
        height: 90%;
    }
    .footer-icons {
        margin: .6em auto 0;
    }
    .container1 {
        padding: .3em 1.2em;
    }
    .columns {
        width: 75%;
    }
    .section-slim {
        width: 80%;
    }
    .section-slim-bottom {
        width: 80%;
    }
}

@media only screen and (min-width:477px) {
    .head {
        line-height: 1.1em;
        font-size: 1.9em;
        margin: .45em auto;
    }
    .subhead1 {
        font-size: 1.6em;
        line-height: 1.1em;
    }
    .top-logo3 {
        margin: .7em auto .5em;
        width: 45%;
    }
    .cta-portfolio {
        padding: .4em;
        width: calc(100% - 8.5em);
        font-size: 1.5em;
    }
    .column-font {
        font-size: 1.4em;
        line-height: 1em;
    }
    .head2 {
        line-height: 1.1em;
        font-size: 1.9em;
    }
    .subhead2 {
        width: 90%;
        font-size: 1.6em;
        line-height: 1.1em;
    }
    .footer-icons {
        margin: .1em auto 0;
    }
    .color-grey2 {
        height: 11.6em;
    }
    .columns {
        width: 75%;
    }
    .section-slim {
        width: 80%;
    }
    .section-slim-bottom {
        width: 80%;
    }
    .container1 {
        padding: .3em 1em;
    }
}

@media only screen and (min-width:510px) {
    .head {
        line-height: 1.1em;
        font-size: 2em;
        margin: .45em auto;
    }
    .subhead1 {
        font-size: 1.7em;
        line-height: 1.1em;
    }
    .cta-portfolio {
        padding: .4em;
        width: calc(100% - 7.5em);
        font-size: 1.6em;
    }
    .column-font {
        font-size: 1.4em;
        line-height: 1em;
    }
    .columns {
        width: 75%;
    }
    .section-slim {
        width: 80%;
    }
    .section-slim-bottom {
        width: 80%;
    }
    .head2 {
        line-height: 1.1em;
        font-size: 2em;
    }
    .subhead2 {
        width: 90%;
        font-size: 1.7em;
        line-height: 1.1em;
    }
    .footer-icons {
        margin: .2em auto;
        width: 2em;
    }
    .color-grey2 {
        height: 11.9em;
        width: 100%;
    }
    .container1 {
        padding: .3em 1em;
    }
}

@media only screen and (min-width:550px) {
    .container1 {
        padding: .3em 1.1em;
    }
    .head2 {
        color: white;
    }
    .subhead2 {
        width: 90%;
        font-size: 1.5em;
        line-height: 1.1em;
    }
    .footer-icons {
        margin: 1.1em auto 0;
        width: 2.2em;
    }
    .color-grey2 {
        height: 11em;
    }
    .cta-portfolio {
        font-size: 1.5em;
    }
}

@media only screen and (min-width:570px) {
    .top-logo3 {
        width: 40%;
    }
    .head {
        line-height: 1.1em;
        font-size: 2em;
        margin: .45em auto;
    }
    .subhead1 {
        font-size: 1.7em;
        line-height: 1.1em;
    }
    .cta-portfolio {
        padding: .4em;
        width: calc(100% - 8.4em);
        font-size: 1.5em;
    }
    .column-font {
        font-size: 1.4em;
        line-height: 1em;
    }
    .columns {
        width: 75%;
    }
    .section-slim {
        width: 90%;
    }
    .section-slim-bottom {
        width: 80%;
    }
    .head2 {
        color: white;
    }
    .subhead2 {
        width: 90%;
        font-size: 1.5em;
        line-height: 1.1em;
    }
    .footer-icons {
        margin: .9em auto 0;
        width: 2.2em;
    }
    .color-grey2 {
        height: 11em;
    }
}

@media only screen and (min-width:600px) {
    .container1 {
        padding: .3em 1.2em;
    }
    .top-logo3 {
        width: 40%;
    }
    .head {
        line-height: 1.1em;
        font-size: 1.9em;
        margin: .5em auto;
    }
    .subhead1 {
        font-size: 1.6em;
        line-height: 1.1em;
    }
    .color-grey {
        height: 10.7em;
        background-size: cover;
    }
    .cta-portfolio {
        padding: .4em;
        width: calc(100% - 8.4em);
    }
    .column-font {
        font-size: 1.4em;
        line-height: 1em;
    }
    .columns {
        width: 70%;
    }
    .section-slim {
        width: 85%;
    }
    .section-slim-bottom {
        width: 85%;
    }
    .subhead2 {
        width: 85%;
        font-size: 1.5em;
        line-height: 1.1em;
    }
    .footer-icons {
        margin: .9em auto 0;
        width: 2.2em;
    }
    .color-grey2 {
        height: 11.9em;
        background-size: cover;
    }
}

@media only screen and (min-width:645px) {
    .columns {
        width: 65%;
    }
    .footer-icons {
        margin: .9em auto 0;
        width: 2.2em;
    }
    .cta-portfolio {
        padding: .4em;
        width: calc(100% - 9em);
    }
}

@media only screen and (min-width:665px) {
    .head {
        line-height: 1.1em;
        font-size: 1.8em;
        margin: .5em auto;
    }
    .subhead1 {
        font-size: 1.5em;
        line-height: 1.1em;
    }
    .cta-portfolio {
        padding: .4em;
        width: calc(100% - 10.5em);
    }
    .column-font {
        font-size: 1.3em;
        line-height: 1em;
    }
    .subhead2 {
        width: 80%;
        font-size: 1.4em;
    }
}

@media only screen and (min-width:705px) {
    .cta-portfolio {
        padding: .4em;
        width: calc(100% - 11.5em);
    }
    .subhead2 {
        width: 75%;
        font-size: 1.4em;
    }
}

@media only screen and (min-width:750px) {
    .cta-portfolio {
        padding: .4em;
        width: calc(100% - 12.5em);
    }
    .subhead2 {
        width: 71%;
        font-size: 1.4em;
    }
}

@media only screen and (min-width:799px) {
    .hide-columns {
        display: none;
    }
    .show-slide-column {
        display: inherit;
    }
    .slideshow-container {
        max-width: 600px;
        position: relative;
        margin: 1.5em auto;
        height: auto;
        text-align: center;
    }
    .mySlides {
        display: none;
    }
    .mySlides img {
        vertical-align: middle;
        border-radius: 1em;
        height: 100%;
        border: 2px outset;
    }
    .dot {
        height: 12px;
        width: 12px;
        margin: 0 2px;
        background-color: lightgrey;
        display: inline-block;
        transition: background-color 0.9s ease;
        border-radius: 50%;
    }
    .slideshow-container .dot-container {
        top: -20px;
        position: relative;
    }
    .activedot {
        border: 3px solid dimgrey;
    }
    .fade {
        animation-name: fade;
        animation-duration: 3.0s;
    }
    @keyframes fade {
        from {
            opacity: .6
        }
        to {
            opacity: 1
        }
    }
    .columns {
        width: 100%;
        margin: 1em 0 0;
    }
    .columns ul {
        display: flex;
        width: 100%;
        text-align: center;
        margin: 1em auto 0;
    }
    .columns ul li {
        width: 30%;
        margin: 1em;
    }
    .columns ul li:nth-child(2) {
        width: 31%;
        margin-top: -.1em;
    }
    .blueage-img {
        width: 100%;
    }
    .columns ul li a:hover {
        opacity: 0.7;
    }
    .gojersey-img {
        width: 100%;
    }
    .larry-img {
        width: 100%;
    }
    .column-font {
        width: 100%;
        font-size: 1.7em;
        line-height: 1em;
        margin: .11em 0;
        text-align: center;
    }
    .top-logo3 {
        width: 30%;
        margin: .5em auto 0;
    }
    .head {
        line-height: 1.1em;
        font-size: 2em;
        margin: .3em auto .5em;
    }
    .subhead1 {
        font-size: 1.6em;
        line-height: 1.1em;
    }
    .color-grey {
        height: 10.7em;
        background-size: cover;
    }
    .action-btn-portfolio {
        display: flex;
        margin: 0 8em;
    }
    .cta-portfolio {
        padding: .4em;
        width: calc(100% - 5em);
        font-size: 1.5em;
        margin: 2% 5%;
    }
    .section-slim {
        width: 100%;
    }
    .section-slim-bottom {
        width: 80%;
    }
    .subhead2 {
        width: 70%;
        font-size: 1.5em;
        line-height: 1.1em;
    }
    .footer-icons {
        margin: .9em auto 0;
        width: 2.2em;
    }
    .color-grey2 {
        height: 11em;
        background-size: cover;
    }
}

@media only screen and (min-width:820px) {
    .columns {
        width: 100%;
    }
    .subhead2 {
        font-size: 1.5em;
        line-height: 1.1em;
    }
    .footer-icons {
        margin: 1em auto 0;
        width: 2.2em;
    }
    .color-grey2 {
        height: 10em;
        background-size: cover;
    }
    .head {
        font-size: 2.1em;
        margin: .4em auto.2em;
    }
    .subhead1 {
        font-size: 1.6em;
        line-height: 1.1em;
    }
    .head2 {
        font-size: 1em;
    }
    .cta-portfolio {
        font-size: 1.5em;
        margin: 2% 6%
    }
    .head {
        font-size: 2.1em;
        margin: .4em auto.2em;
    }
    .slideshow-container {
        max-width: 650px;
        position: relative;
        margin: 1em auto;
        height: auto;
        text-align: center;
    }
}

@media only screen and (min-width:875px) {
    .top-logo3 {
        margin: .9em auto .1em;
        width: 35%;
    }
    .head {
        font-size: 2em;
        margin: .3em auto;
    }
    .subhead1 {
        font-size: 1.5em;
        line-height: 1.1em;
    }
    .subhead2 {
        width: 75%;
        font-size: 1.5em;
        line-height: 1.1em;
    }
    .footer-icons {
        margin: 1em auto 0;
        width: 2em;
    }
    .action-btn-portfolio {
        margin: 0 9em;
    }
    .cta-portfolio {
        font-size: 1.8em;
        margin: 2% 7%;
    }
}

@media only screen and (min-width:930px) {
    .action-btn-portfolio {
        margin: 0 11em;
    }
    .cta-portfolio {
        font-size: 1.4em;
        margin: 2% 7%;
    }
}

@media only screen and (min-width:1024px) {
    .color-grey {
        background-image: none;
    }
    .hide-home {
        display: none;
    }
    .container1 {
        width: 90%;
        margin: 0 auto;
        padding: .6em 3em;
    }
    .show-desktop {
        display: block;
    }
    .hide-desktop {
        display: none;
    }
    .active {
        background-color: white;
        color: black;
        font-weight: bold;
        border-bottom: 1.5px solid;
    }
    .section-slim {
        width: 100%;
    }
    .desktop-picture-portfolio {
        width: 50%;
        margin: .1em auto;
        z-index: 2;
        height: auto;
    }
    .head {
        font-size: 2.2em;
        margin: 0 auto .4em;
    }
    .subhead1 {
        font-size: 1.7em;
        line-height: 1.1em;
    }
    .section-container2 {
        text-align: center;
        padding: .4em .25em;
        margin: .2em auto .2em;
        width: 100%;
    }
    .slideshow-container {
        max-width: 900px;
        position: relative;
        margin: 1em auto;
        height: auto;
        text-align: center;
        padding: 3em 0;
    }
    .show-columns {
        display: inherit;
        margin: 0 auto 10em;
    }
    .columns {
        width: 80%;
        margin: 2em auto 2em;
    }
    .column-font {
        width: 90%;
        font-size: 1.3em;
        margin: .11em auto 0;
    }
    .color-grey3 {
        background-color: rgb(75, 38, 136);
        ;
        margin: 1.5em auto 0;
        text-align: center;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
        width: 100%;
    }
    .section-slim-bottom2 {
        margin: 0 auto 0;
    }
    .bottom-img {
        width: 45%;
        margin-top: -10em;
    }
    .subhead2 {
        width: 100%;
        font-size: 1.3em;
        line-height: 1.1em;
        margin: 1em auto 0;
        color: rgb(255, 255, 255);
    }
    .footer-icons {
        margin: 1em auto .5em;
        width: 2em;
    }
}

@media only screen and (min-width:1160px) {
    .desktop-picture-portfolio {
        width: 45%;
        margin: 2.1em auto 0;
        z-index: 2;
    }
    .head {
        font-size: 2.2em;
    }
    .subhead1 {
        font-size: 1.7em;
    }
    .subhead2 {
        width: 70%;
        font-size: 1.3em;
        line-height: 1.1em;
    }
    .bottom-img {
        width: 40%;
    }
    .container1 {
        padding: .6em 3em;
    }
}

@media only screen and (min-width:1200px) {
    .desktop-picture-portfolio {
        width: 40%;
        margin: 2.1em auto 0;
        z-index: 2;
        height: auto;
    }
    .head {
        font-size: 2em;
    }
    .subhead1 {
        font-size: 1.6em;
    }
}

@media only screen and (min-width:1255px) {
    .desktop-picture-portfolio {
        width: 40%;
    }
    .bottom-img {
        width: 35%;
    }
}

@media only screen and (min-width:1310px) {
    .desktop-picture-portfolio {
        width: 40%;
    }
    .container1 {
        padding: .6em 3.5em;
    }
}

@media only screen and (min-width:1330px) {
    .desktop-picture-portfolio {
        width: 40%;
    }
    .container1 {
        padding: .6em 3.5em;
    }
}

@media only screen and (min-width:1400px) {
    .desktop-picture1 {
        width: 40%;
    }
    .container1 {
        padding: 1em 4em;
    }
    .bottom-img {
        width: 35%;
    }
}


/**Profile Page CSS**/

.hcontainer-pf {
    text-align: center;
    padding: .6em 1.2em;
}

.head-pf {
    margin: 1em auto 0em;
    padding: 1em;
    color: rgb(65, 65, 65);
}

.sc-pf {
    padding: 0;
    margin: 0 auto 0;
    width: 85%;
    border-right: .01px solid rgba(214, 214, 214, 0.87);
    border-left: .01px solid rgba(214, 214, 214, 0.87);
    border-top: .01px solid rgba(214, 214, 214, 0.87);
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
}

.pf-container {
    width: 85%;
    text-align: center;
    margin: 0 auto 2em;
    background-color: white;
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
    z-index: 1;
    height: 100%;
    padding: 1em 0;
}

.pf-container-content {
    width: 100%;
    text-align: center;
    margin: 0 auto 1.5em;
    border-bottom: .01px solid rgba(214, 214, 214, 0.87);
    border-right: .01px solid rgba(214, 214, 214, 0.87);
    border-left: .01px solid rgba(214, 214, 214, 0.87);
    ;
    z-index: 1;
}

.pf-con {
    border-bottom: none;
}

.img-pf-container {
    width: 40%;
    margin: 0 auto 0;
}

.bottom-img-pf {
    width: 40%;
    margin: -1em auto 0;
}

.pf-head .pf-subhead {
    position: relative;
    z-index: 1;
}

.pf-head1 {
    margin: .5em 0 .5em;
    line-height: 1.2em;
    font-size: 1.4em;
    font-weight: bold;
    ;
    color: rgb(65, 65, 65);
}

.pf-subhead1 {
    width: 85%;
    font-size: 1em;
    line-height: 1.2em;
    margin: .5em auto 1em;
    padding: .5em auto .5em;
    color: rgb(65, 65, 65);
}

.pf-small-head1 {
    margin: .5em 0 .5em;
    line-height: 1.2em;
    font-size: 1.2em;
    font-weight: bold;
    ;
    color: rgb(156, 1, 130);
}

.pf-small-subhead1 {
    font-size: .9em;
    line-height: 1.2em;
    margin: .5em auto 1em;
    padding: .5em auto .5em;
    color: rgb(65, 65, 65);
}

.pf-smaller-head1 {
    margin: .5em 0 .5em;
    line-height: 1.2em;
    font-size: 1.2em;
    font-weight: bold;
    ;
    color: rgb(156, 1, 130);
}

.pf-smaller-subhead1 {
    font-size: .9em;
    line-height: 1.2em;
    margin: .5em auto 1em;
    padding: .5em auto .5em;
    color: rgb(65, 65, 65);
}

.cta-pr {
    margin: .5em 0 0;
}

.pf-bcolor {
    background-color: rgb(75, 38, 136)!important;
    padding: .5em;
    margin: .5em auto 0;
}

.pf-color {
    color: white;
    margin: .5em auto .5em;
    font-size: .9em;
}

.pr-tplogo {
    margin: 1.5em auto -2em;
}

@media only screen and (min-width:399px) {
    nav ul {
        width: 50%;
    }
    .hide-avatar {
        display: none;
    }
    .show-avatar {
        display: inherit;
        align-items: center;
    }
    .pr-tplogo {
        width: 40%;
    }
    .cta {
        border-radius: 2em;
        width: calc(100% - 9em);
    }
    .sc-pf {
        width: 80%;
    }
    .pf-container {
        width: 80%;
    }
    .pf-bcolor {
        width: 80%;
    }
}

@media only screen and (min-width:445px) {
    .img-pf-container {
        width: 35%;
        margin: 0 auto 0;
    }
    .bottom-img-pf {
        width: 35%;
        margin: -1em auto 0;
    }
    .pf-head1 {
        margin: .5em 0 .5em;
        line-height: 1.2em;
        font-size: 1.6em;
        font-weight: bold;
        ;
        color: rgb(65, 65, 65);
    }
    .pf-subhead1 {
        width: 85%;
        font-size: 1.2em;
        line-height: 1.2em;
        margin: .5em auto 1em;
        padding: .5em auto .5em;
        color: rgb(65, 65, 65);
    }
    .pf-small-head1 {
        margin: .5em 0 .5em;
        line-height: 1.2em;
        font-size: 1.4em;
        font-weight: bold;
        ;
        color: rgb(156, 1, 130);
    }
    .pf-small-subhead1 {
        font-size: 1.1em;
        line-height: 1.2em;
        margin: .5em auto 1em;
        padding: .5em auto .5em;
        color: rgb(65, 65, 65);
    }
    .pf-smaller-head1 {
        margin: .5em 0 .5em;
        line-height: 1.2em;
        font-size: 1.3em;
        font-weight: bold;
        ;
        color: rgb(156, 1, 130);
    }
    .pf-smaller-subhead1 {
        font-size: 1.05em;
        line-height: 1.2em;
        margin: .5em auto 1em;
        padding: .5em auto .5em;
        color: rgb(65, 65, 65);
    }
    .cta-pr {
        margin: .5em 0 0;
    }
    .pr-cta {
        font-size: 1.15em;
    }
    .pf-color {
        color: white;
        margin: .5em auto .5em;
        font-size: 1.1em;
    }
}

@media only screen and (min-width:515px) {
    .pf-section {
        width: 100%;
    }
    .pr-tplogo {
        width: 30%;
    }
    .sc-pf {
        width: 70%;
    }
    .head-pf {
        font-size: 1.6em;
    }
    .pf-container {
        width: 70%;
    }
    .img-pf-container {
        width: 30%;
        margin: 0 auto 0;
    }
    .pf-head1 {
        font-size: 1.5em;
        font-weight: bold;
        ;
    }
    .pf-subhead1 {
        width: 85%;
        font-size: 1.1em;
    }
    .pf-small-head1 {
        font-size: 1.4em;
    }
    .pf-small-subhead1 {
        font-size: 1em;
        width: 85%;
    }
    .pf-smaller-head1 {
        font-size: 1.3em;
    }
    .pf-smaller-subhead1 {
        font-size: 1em;
        width: 85%;
    }
    .cta-pr {
        margin: .5em 0 0;
    }
    .pr-cta {
        font-size: 1.1em;
    }
    .bottom-img-pf {
        width: 30%;
        margin: -1em auto 0;
    }
    .pf-bcolor {
        width: 70%;
    }
    .pf-color {
        font-size: 1em;
    }
}

@media only screen and (min-width:875px) {
    .pr-tplogo {
        width: 20%;
    }
    .right-arrow-btn {
        width: 70%;
        margin: auto auto;
    }
    .pf-section {
        width: 100%;
    }
    .sc-pf {
        width: 80%;
    }
    .head-pf {
        font-size: 1.5em;
    }
    .pf-container {
        width: 80%;
        display: flex;
    }
    .pf-container-content {
        margin: 0 auto;
        border-bottom: none;
        width: 90%;
    }
    .img-pf-container {
        width: 30%;
    }
    .pf-pic {
        margin: .5em auto .5em;
    }
    .pf-head1 {
        font-size: 1.5em;
        font-weight: bold;
        ;
    }
    .pf-subhead1 {
        width: 85%;
        font-size: 1.1em;
    }
    .pf-small-head1 {
        font-size: 1.4em;
    }
    .pf-small-subhead1 {
        font-size: 1em;
        width: 85%;
    }
    .pf-smaller-head1 {
        font-size: 1.3em;
    }
    .pf-smaller-subhead1 {
        font-size: 1em;
        width: 85%;
    }
    .cta-pr {
        margin: .5em 0 0;
    }
    .pr-cta {
        font-size: 1.1em;
    }
    .bottom-img-pf {
        width: 30%;
        margin: -1em auto 0;
    }
    .pf-bcolor {
        width: 70%;
    }
    .pf-color {
        font-size: 1em;
    }
}

@media only screen and (min-width:1024px) {
    .cta {
        padding: .5em;
        font-size: 1.3em;
        margin: 2% 10%;
    }
    .show-desktop {
        display: visible;
    }
    .hide-desktop {
        display: none;
    }
    nav ul {
        position: inherit;
        width: auto;
        background: none;
        height: auto;
        display: flex;
        padding-top: 0;
    }
    nav ul li {
        float: left;
    }
    nav ul li a {
        color: rgba(75, 74, 74, 0.507);
        background-color: inherit;
        text-align: right;
        padding: 1em 2em;
        font-size: .8em;
    }
    nav ul li a:hover {
        background-color: white;
        border: none;
        color: black;
        opacity: 1;
    }
    .active:hover {
        border-bottom: 1.5px solid;
    }
    .active {
        background-color: white;
        color: black;
        font-weight: bold;
        border-bottom: 1.5px solid;
    }
    .pf-container-content {
        width: 70%;
    }
    .action-btn-container {
        text-align: center;
        padding: .4em 1.45em;
        margin: 0;
    }
    .show-footer-logo {
        width: 10%;
        margin: 1em auto 0;
        border-radius: 50%;
        background-color: white;
    }
    .right-arrow-btn {
        width: 70%;
        margin: auto auto;
    }
    .img-pf-container {
        width: 25%;
    }
}

@media only screen and (min-width:1250px) {
    .show-footer-logo {
        width: 10%;
        margin: 1em auto 0;
        border-radius: 50%;
        background-color: white;
    }
    .right-arrow-btn {
        width: 70%;
        margin: auto auto;
    }
    .pr-tplogo {
        width: 15%;
    }
    .img-pf-container {
        width: 20%;
    }
    .head-pf {
        margin-top: 2em;
    }
    .pf-container-content {
        width: 50%;
    }
    .show-footer-logo {
        width: 8%;
    }
}
